.rt-player {
  width: inherit;
}
.play-dur {
  font-size: 10px;
  margin-right: .1em;
  width: 3em;
  align-content: center;
}

.play-dur-r {
  margin-left: .1em;
  font-size: 10px;
  width: 3em;
  align-content: center;
}